version: "3.9"  
services: 
  aspire-dashboard:
    image: mcr.microsoft.com/dotnet/nightly/aspire-dashboard:8.0.0-preview.5
    env:
      - DOTNET_DASHBOARD_UNSECURED_ALLOW_ANONYMOUS=true 
    ports:
      - "18888:18888"

  collector:
    image: otel/opentelemetry-collector-contrib:latest
    volumes:
      - ./config-aspire.yaml:/etc/otelcol-contrib/config.yaml
    ports:
      - "4317:4317"
      - "4318:4318"